@font-face {
    font-family: "RussianRail G Pro Regular";
    src: url("./fonts/RussianRailRegular.woff2") format("woff2");
}

@font-face {
    font-family: "RussianRail G Pro Bold";
    src: url("./fonts/RussianRailBold.woff2") format("woff2");
}

body {
    background-color: #fffff0;
}

.wrapper {
    margin: 0 55px;
}

section {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "RussianRail G Pro Regular";
}

.head {
    font-size: 28px;
}

.logo {
    width: 90px;
}

.a4, .a4r, .a5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #797979;
    box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.15);
}
.a4 {
    min-width: 210px;
    height: 320px;
}

.a4r {
    min-width: 300px;
    height: 210px;
}

.a5 {
    min-width: 120px;
    height: 130px;
}

.a4:hover,
.a4r:hover,
.a5:hover {
    cursor: pointer;
}

.bg-a4 {
    background: var(--background-thumb);
    background-size: 210px 320px;
    transition: background 0.2s;
}

.bg-a4r {
    background: var(--background-thumb);
    background-size: 352px 210px;
    transition: background 0.2s;
}
.bg-foto {
    background: var(--background-thumb);
    background-size: 175px 130px;
    transition: background 0.2s;
}

.blue {
    background-color: #84cbfa;
    /* background: #e4f4ff; */
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(230, 245, 255, 1) 0%, rgba(132, 203, 250, 1) 100%);
}

.green {
    background-color: #50ce7a;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(221, 251, 231, 1) 0%, rgba(80, 206, 122, 1) 100%);
}

.purple {
    background-color: #da97cc;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(255, 220, 248, 1) 0%, rgba(218, 151, 204, 1) 100%);
}

.orange {
    background-color: #faa76f;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(254, 236, 224, 1) 0%, rgba(250, 167, 111, 1) 100%);
}

.leanlogo {
    width: 190px;
}

.navbar {
    padding: 15px;
    border-bottom: 1px solid #aaa;
}
.navbar-nav {
    min-width: 280px;
}
.nav-link {
    color: #333;
    cursor: default;
    padding: 0 1rem;
}
.stendver {
    font-weight: 600;
}
.stendver:hover {
    cursor: default;
}
.list-stendver {
    display: flex;
    align-items: center;
}
.form-check-input[type=checkbox] {
    z-index: 100;
    width: 1.1rem;
}
.dropdown-item {
    padding: 0.07rem 0.8rem;
}
.title {
    font-size: 24px;
    font-family: "RussianRail G Pro Regular";
}

.add {
    width: 70px;
    height: 70px;
    opacity: 0.04;
    background: url("./img/plus.png") no-repeat center top;
    background-size: 70px 70px;
}

.add:hover {
    opacity: 0.17;
}

.upload-file__input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-file__input+.upload-file__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


.upload-file__label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    cursor: pointer;
}

.upload-file__text {
    font-size: 13px;
}

.upload-file__label .upload-file__text {
    transition: .25s ease;
}

.break {
    /* Вставка разрыва строки между двумя flex-элементами заставит 
 * flex-элемент, который расположен после него переноситься на новую строку */
    flex-basis: 100%;
    height: 0;
}

.transparent {
    opacity: 1;
}

.footer {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
}
.terminal {
    position: relative;
}
.syslog {
    
    font-family: courier, "courier new", serif;
    font-size: 0.8em;
    position: absolute;
    top: 5px;
    border-bottom: 1px solid#dfdfdf;
    padding: 2px 25px 1px 5px;
    
}
.newstend_modal {
    width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(141, 141, 141);
    margin: 40px;
    padding: 17px 33px 1px 33px;
    /* box-shadow: 10px 10px 9px 0px rgba(186, 186, 186, 0.2); */
    box-shadow: 0px 0px 8px 0px rgba(177, 108, 108, 0.3);
}
.modal-header, .modal-footer {
    display: flex;
    justify-content: space-around;
    font-size: 1.1em;
    margin-bottom: 10px;
    border: none;
}
.newstend_modal_wrapper {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(64,64,64, .4);
}
.button {
    min-width: 120px;
    border: none;
    border-radius: 5px;
    background: #1186d3;
    margin-top: 27px;
    /* margin-right: 20px; */
    color: #ffffff;
    font-weight: 400;
}
