@font-face {
    font-family: "RussianRail G Pro Regular";
    src: url("./fonts/RussianRailRegular.woff2") format("woff2");
}

@font-face {
    font-family: "RussianRail G Pro Bold";
    src: url("./fonts/RussianRailBold.woff2") format("woff2");
}

body {
    background-color: #fffff0;
}

.wrapper {
    margin: 0 55px;
}

section {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "RussianRail G Pro Regular";
}

.head {
    font-size: 28px;
}

.logo {
    width: 90px;
}

.a4, .a4r, .a5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #797979;
    box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.15);
}
.a4 {
    min-width: 210px;
    height: 320px;
}

.a4r {
    min-width: 300px;
    height: 210px;
}

.a5 {
    min-width: 120px;
    height: 130px;
}

.a4:hover,
.a4r:hover,
.a5:hover {
    cursor: pointer;
}

.bg-workgroup {
    background: url("./img/bg_workgroup.jpg") no-repeat center top;
    background-size: 210px 320px;
}

.bg-result5s {
    background: url("./img/bg_result5s.jpg") no-repeat center top;
    background-size: 210px 320px;
}
.bg-before1 {
    background: var(--background-thumb);
    /* backgro    und: url("./img/bg_before1.jpg") no-repeat center top; */
    background-size: 170px 130px;
}

.blue {
    background-color: #84cbfa;
    /* background: #e4f4ff; */
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(230, 245, 255, 1) 0%, rgba(132, 203, 250, 1) 100%);
}

.green {
    background-color: #50ce7a;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(221, 251, 231, 1) 0%, rgba(80, 206, 122, 1) 100%);
}

.purple {
    background-color: #da97cc;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(255, 220, 248, 1) 0%, rgba(218, 151, 204, 1) 100%);
}

.orange {
    background-color: #faa76f;
    background: linear-gradient(122deg, rgba(228, 244, 255, 1) 0%, rgba(254, 236, 224, 1) 0%, rgba(250, 167, 111, 1) 100%);
}

.leanlogo {
    width: 190px;
}

.navbar {
    padding: 15px;
    border-bottom: 1px solid #aaa;
}

.nav-link {
    color: #333;
}

.title {
    font-size: 24px;
    font-family: "RussianRail G Pro Regular";
}

.add {
    width: 70px;
    height: 70px;
    opacity: 0.04;
    background: url("./img/plus.png") no-repeat center top;
    background-size: 70px 70px;
}

.add:hover {
    opacity: 0.17;
}

.upload-file__input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-file__input+.upload-file__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


.upload-file__label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    cursor: pointer;
}

.upload-file__text {
    font-size: 13px;
}

.upload-file__label .upload-file__text {
    transition: .25s ease;
}

.break {
    /* Вставка разрыва строки между двумя flex-элементами заставит 
 * flex-элемент, который расположен после него переноситься на новую строку */
    flex-basis: 100%;
    height: 0;
}

.transparent {
    opacity: 1;
}