body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}
.logo {
    /* width: 100%; */
    text-align: center;
    margin: 50px 0;
}
.logo img.imglogo {
    width: 80px;
    height: 80px;
    margin: auto;
}
.edit {
    width: 13px;
    height: 13px;
    margin-left: 4px;
    padding-right: 7px;
    display: block;
}
.save {
    width: 20px;
    height: 20px;
    padding-right: 7px;
    display: block;
}
.hide {
    display: none;
}
.container {
    width: 90%;
    margin: auto;
}
.title {
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}
.status-table {
    display: flex;
    flex-direction: column;
}
.row {
    height: 20px;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 5px;
}
.inprocess {
    color: mediumvioletred;
}
.ready {
    color: mediumseagreen;
}
.waiting {
    color: black;
}
.done {
    color: rgb(34, 175, 53);
}
.date {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9em;
}
.table {
	width: 96%;
    margin: auto;
	margin-bottom: 20px;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px 15px;
	background: #c7fcef;
	border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    text-align: left;
}
.table td {
    font-size: 0.9em;
	border: 1px solid #dddddd;
	padding: 5px 15px;
    border-left: none;
    border-right: none;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}
/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input {
    border: none;
    border-bottom: 1px solid rgb(255, 171, 138);
    margin: 0;
    padding: 0;
    display: block;
    outline: none;
    color: rgb(231, 45, 45);
    font-size: 1em;
}
textarea {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    color: rgb(231, 45, 45);
    border-bottom: 1px solid rgb(255, 171, 138);
    font-size: 1em;
      /* отключаем изменение размера мышью в Firefox */
  resize: none;
  font-family: Arial, Helvetica, sans-serif;

  /* удаляем обводку при фокусировке в Chrome */
  outline: none;
  position: relative;
  padding: 0;
}